<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EAA Toolbox</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/app.css" rel="stylesheet">

    <link rel="apple-touch-icon" href="/static/img/icon.png">

</head>

<body>
    <button id="btn-plate-solve" type="button" class="btn btn-primary">Plate Solve</button>
    <button id="btn-snapshot" type="button" class="btn btn-primary">Snapshot</button>
    <button id="btn-reload" type="button" class="btn btn-success">Reload</button>
    <div class="row">&nbsp;</div>

    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/js/app.js"></script>
</body>

</html>
